<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload Image</title>
  </head>
  <body>
    <h1>Upload Image</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
    <div style="max-width: 600px;">
        {% if exif_data %}
        <h2>EXIF Data:</h2>
        <p style="font-family: 'Courier New', Courier, monospace;">{{ exif_data }}</p>
    {% endif %}
    </div>
    
  </body>
</html>